core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
inputs/datasets/raw/
outputs/v1/mildew_detector_model.h5
outputs/v2/mildew_detector_model_v2.h5
outputs/v3/mildew_detector_model_v3.h5
outputs/v4/mildew_detector_model_v4.h5
cloudinary_python.txt
kaggle.json